<div class="category_info" id="category_info-{{id}}">
    <div class="category_info__name">
        {{name}}
    </div>
    <div class="category_info__divider"></div>
    <div class="category_info__average">
        {{avarage}}
    </div>
    <div class="category_info__paragraph">
        Средняя зарплата
    </div>
    <div class="category_info__bullet">
        <div class="category_info__status category_info__status--max"></div>
        <div class="category_info__sallary_wrapper">
        <div class="category_info__sallary">
            {{max}}
        </div>
        <div class="category_info__paragraph">
            максимум
        </div>
        </div>
    </div>
    <div class="category_info__bullet">
        <div class="category_info__status category_info__status--max"></div>
        <div class="category_info__sallary_wrapper">
        <div class="category_info__sallary">
            {{max}}
        </div>
        <div class="category_info__paragraph">
            максимум
        </div>
        </div>
    </div>
    <div class="category_info__bullet">
        <div class="category_info__status category_info__status--max"></div>
        <div class="category_info__sallary_wrapper">
        <div class="category_info__sallary">
            {{max}}
        </div>
        <div class="category_info__paragraph">
            максимум
        </div>
        </div>
    </div>
</div>