<form class="resumeEdit__experience" name="experience_{{id}}">
    <legend class="resumeEdit__name">Опыт работы</legend>
    <div class="resumeEdit__options">
        <input type="text" name="employer_name" placeholder="Компания" class="resumeEdit__input"
            value="{{employer_name}}" minlength="2" maxlength="50" required>
        <input type="text" name="position" placeholder="Должность" class="resumeEdit__input"
            value="{{position}}" minlength="2" maxlength="50" required>
        <textarea name="duties" placeholder="Ваши обязанности и достижения" class="resumeEdit__input"
            required minlength="5" maxlength="250">{{duties}}</textarea>

        <div class="resumeEdit__split">
            <input type="date" name="start_date" placeholder="Начало работы" class="resumeEdit__input"
                value="{{start_date}}" min="2000-01-01" max="2025-11-31" required>
            <input type="date" name="end_date" placeholder="Окончание работы" class="resumeEdit__input"
                value="{{end_date}}" min="2000-01-01" max="2025-11-31" required>
        </div>

        <label class="resumeEdit__checkbox">
            <input type="checkbox" name="until_now">
            <span>По настоящее время</span>
        </label>
    </div>
    <div class="resumeEdit__error"></div>
    {{#if isNew}}
    <div>
    <button class="job__button_second" name="new_experience">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
</svg>
        Добавить ещё опыт работы
    </button>
    </div>
    {{/if}}
</form>