<div class="job_company" id="companyCard-{{id}}">
    <div class="job_company__logo">
        {{> partials/avatar avatar=logo_path}}
    </div>
    <div class="job_company__info">
        <div class="job_company__name">{{company_name}}</div>
        {{!-- <div class="job_company__rating">
            <div class="job_company__value">{{rating}}</div>
            <div class="job_company__stars">{{star_rating}}</div>
            <div class="job_company__review">{{reviews_count}} отзыва</div>
        </div> --}}
    </div>
</div>