<div class="similar_jobs__item">
    <div class="similar_jobs__name">{{title}}</div>
    <div class="similar_jobs__salary">{{salary_from}} - {{salary_to}}</div>
    <div class="similar_jobs__company">
        <div class="similar_jobs__logo">
            <img src="{{employer.logo}}" alt="Company Logo" />
        </div>
        <div class="similar_jobs__company_name">{{employer.company_name}}</div>
    </div>
</div>