<main class="profile">
    <div class="profile__header">
        <div class="profile__info">
            <div class="profile__avatar">
                <img src="http://localhost:8000/api/v1/static/{{logo}}" alt="Фото профиля" class="profile__avatar-img"
                onerror="this.src = '/icons-user-profile.svg';">
            </div>
            <div class="profile__details">
                <h1 class="profile__name">{{company_name}}</h1>
                <p class="profile__quote">{{slogan}}
                </p>
            </div>
        </div>
        <div class="profile__actions">
            <button class="job__button_second">Отменить</button>
            <button class="job__button">Сохранить</button>
        </div>
    </div>

    <h2 class="profile__title">Настройки профиля</h2>

    <form class="profile__form" name="profile_company_edit">
        <div class="profile__section">
            <h3 class="profile__section-title">Логотип компании</h3>
            <div class="profile__photo-upload">
                <div class="profile__avatar">
                    <img src="http://localhost:8000/api/v1/static/{{logo}}" alt="Логотип для компании" class="profile__avatar-img">
                </div>
                <div class="profile__photo-dropzone">
                    <input type="file" id="file-input" class="profile__photo-input" accept=".jpg, .png" name="file_input" />
                    <div class="profile__photo-content">
                        <p class="profile__photo-text">Выбрать изображение</p>
                        <p class="profile__photo-hint">jpg, png, до 6 МБ, не более 10 000 x 10 000 пикселей</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="profile__section">
            <h3 class="profile__section-title">О компании</h3>
            <div class="profile__fields">
                <fieldset class="profile__fieldset profile__field--full-width">
                    <div class="profile__fields">
                        <div class="profile__field">
                            <label class="profile__label">Название</label>
                            <input type="text" class="profile__input" value="{{company_name}}" name="company_name" minlength="2" maxlength="30" pattern="^[а-яА-Яa-zA-Z0-9\s\.,]+$"
                        title="Можно вводить только буквы, знаки препинания и пробел" required>
                        </div>
                        <div class="profile__field">
                            <label class="profile__label">Сайт компании</label>
                            <input type="url" class="profile__input" value="{{website}}" name="website" minlength="5" maxlength="100">
                        </div>
                        <div class="profile__field">
                            <label class="profile__label">Местоположение компании</label>
                            <input type="text" class="profile__input" value="{{legal_address}}" name="legal_address" minlength="5" maxlength="100" pattern="^[а-яА-Яa-zA-Z0-9\s\.,]+$"
                        title="Можно вводить только буквы, знаки препинания и пробел">
                        </div>
                    </div>
                    <div class="profile__error">
                    </div>
                </fieldset>
                <fieldset class="profile__fieldset profile__field--full-width">
                    <div class="profile__fields">
                        <div class="profile__field profile__field--full-width">
                            <label class="profile__label">Слоган</label>
                            <input type="text" class="profile__input" value="{{slogan}}" name="slogan" maxlength="150" pattern="^[а-яА-Яa-zA-Z0-9\s\.,]+$"
                        title="Можно вводить только буквы, знаки препинания и пробел">
                        </div>
                        <div class="profile__field profile__field--full-width">
                            <label class="profile__label">О компании</label>
                            <textarea class="profile__textarea" name="description" maxlength="500" pattern="^[а-яА-Яa-zA-Z0-9\s\.,]+$"
                        title="Можно вводить только буквы, знаки препинания и пробел">{{description}}</textarea>
                        </div>
                    </div>
                    <div class="profile__error">
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="profile__actions">
            <button type="button" class="job__button_second">Отменить</button>
            <button type="submit" class="job__button">Сохранить</button>
        </div>
    </form>
</main>