<div class="job" id="jobCard-{{id}}">
    <div class="job__favorite">
        <img src="/heart.svg" alt="Избранное">
    </div>
    <div class="job__avatar">
        {{> partials/logo logo=employer.logo_path }}
    </div>
    <div class="job__info">
        <p class="job__name">{{title}}</p>
        <p class="job__salary">
            {{salary_from}} - {{salary_to}}
            {{#if taxes_included}}
            На руки
            {{else}}
            До вычета налогов
            {{/if}}
        </p>
        <p class="job__company">{{employer.company_name}}</p>
        <div class="job__advantages">
            <div class="job__city">
                <img src="/geo-alt.svg" alt="address--v1" />
                <p class="job__city__name">{{city}}</p>
            </div>
            <div class="job__badges">
                <div class="job__badge">{{lookup workFormatTranslations work_format}}</div>
                <div class="job__badge">{{lookup employmentTranslations employment}}</div>
                <div class="job__badge">{{working_hours}}ч в неделю</div>
            </div>
        </div>
        <div class="job__error"></div>
        <div class="job__footer">
            <div class="job__buttons">
                {{#if resumed}}
                {{> partials/jobCardResponded }}
                {{else}}
                <div class="job__button" id="vacancy_{{id}}_resume">Откликнуться</div>
                {{/if}}
            </div>
            <div class="job__statistics">
                {{days_created}} дня назад
            </div>
        </div>
    </div>
</div>