<div class="job" id="jobCard-{{id}}">
    <div class="job__favorite">
        <img src="/heart.svg" alt="Избранное">
    </div>
    <div class="job__avatar">
        {{> partials/logo logo=employer.logo_path }}
    </div>
    <div class="job__info">
        <p class="job__name">{{title}}</p>
        <p class="job__salary">
            {{salary_from}} - {{salary_to}}
            {{#if taxes_included}}
            На руки
            {{else}}
            До вычета налогов
            {{/if}}
        </p>
        <p class="job__company">{{employer.company_name}}</p>
        <div class="job__advantages">
            <div class="job__city">
                <img src="/geo-alt.svg" alt="address--v1" />
                <p class="job__city__name">{{city}}</p>
            </div>
            <div class="job__badges">
                <div class="job__badge">{{lookup workFormatTranslations work_format}}</div>
                <div class="job__badge">{{lookup employmentTranslations employment}}</div>
                <div class="job__badge">{{working_hours}}ч в неделю</div>
            </div>
        </div>
        <div class="job__footer">
            <div class="job__buttons">
                {{#if resumed}}
                <div class="job__button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-info-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                        <path
                            d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                    </svg>
                    <span>Вы откликнулись</span>
                </div>
                <div class="job__button" id="vacancy_{{id}}_chat">Чат</div>
                {{else}}
                <div class="job__button" id="vacancy_{{id}}_resume">Откликнуться</div>
                {{/if}}
            </div>
            <div class="job__statistics">
                {{days_created}} дня назад
            </div>
        </div>
    </div>
</div>