{{#if status}}
<div class="notification notification--ok" id="notification-{{id}}">
    {{else}}
    <div class="notification notification--fail" id="notification-{{id}}">
        {{/if}}
        <div class="notification__close">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
            </svg>
        </div>
        {{#if status}}
        <div class="notification__icon notification__icon--ok">
            <svg fill="#40C057" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="40px" height="40px">
                <path
                    d="M 25 2 C 12.309534 2 2 12.309534 2 25 C 2 37.690466 12.309534 48 25 48 C 37.690466 48 48 37.690466 48 25 C 48 12.309534 37.690466 2 25 2 z M 25 4 C 36.609534 4 46 13.390466 46 25 C 46 36.609534 36.609534 46 25 46 C 13.390466 46 4 36.609534 4 25 C 4 13.390466 13.390466 4 25 4 z M 34.988281 14.988281 A 1.0001 1.0001 0 0 0 34.171875 15.439453 L 23.970703 30.476562 L 16.679688 23.710938 A 1.0001 1.0001 0 1 0 15.320312 25.177734 L 24.316406 33.525391 L 35.828125 16.560547 A 1.0001 1.0001 0 0 0 34.988281 14.988281 z" />
            </svg>
        </div>
        {{else}}
        <div class="notification__icon notification__icon--fail">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M23.1171 26.7616H21.9023C21.2579 26.7616 20.6399 26.5056 20.1843 26.05C19.7286 25.5943 19.4726 24.9763 19.4726 24.3319V18.2578C19.4726 17.9356 19.3446 17.6266 19.1168 17.3987C18.889 17.1709 18.58 17.0429 18.2578 17.0429H17.043M18.8652 10.9688C18.7041 10.9688 18.5496 11.0327 18.4357 11.1467C18.3218 11.2606 18.2578 11.4151 18.2578 11.5762C18.2578 11.7373 18.3218 11.8918 18.4357 12.0057C18.5496 12.1196 18.7041 12.1836 18.8652 12.1836C19.0263 12.1836 19.1808 12.1196 19.2947 12.0057C19.4086 11.8918 19.4726 11.7373 19.4726 11.5762C19.4726 11.4151 19.4086 11.2606 19.2947 11.1467C19.1808 11.0327 19.0263 10.9688 18.8652 10.9688Z"
                    stroke="#F32526" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M32.358 6.58695C39.4733 13.7035 39.4733 25.242 32.358 32.3585C25.2415 39.4738 13.703 39.4738 6.58647 32.3585C-0.528822 25.242 -0.528822 13.7035 6.58647 6.58695C13.703 -0.528334 25.2415 -0.528334 32.358 6.58695Z"
                    stroke="#F32526" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
        {{/if}}
        <div class="notification__info">
            <div class="notification__header">
                {{header}}
            </div>
            {{#if message}}
            <div class="notification__message">
                {{message}}
            </div>
            {{/if}}
        </div>
    </div>