<div class="poll-statistics">
    {{#each polls}}
    <div class="rating-card">
        <h2 class="rating-title">{{question}}</h2>
        
        <div class="average-rating">
            <span class="average-rating-label">Средняя оценка:</span>
            <span class="average-rating-value">{{averageRating}}</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#FFD700" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
            </svg>
        </div>

        <div class="ratings-container">
            {{#each statistics}}
            <div class="rating-row">
                <div class="stars-container">
                    {{{starsHtml}}}
                </div>
                <div class="rating-stats">
                    <span class="percentage">{{percentage}}<span class="percentage-symbol">%</span></span>
                    <span class="votes">{{votes}} голосов</span>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{/each}}
</div>
