<div class="page" id="vacancy_edit_page">
    <form class="vacancyEdit" aria-label="Создание новой вакансии" name="vacancy_edit">
        {{#if isEdit}}
        <div class="vacancyEdit__header">Редактирование вакансии</div>
        {{else}}
        <div class="vacancyEdit__header">Создание новой вакансии</div>
        {{/if}}
        <!-- Общая информация -->
        <fieldset class="vacancyEdit__group" id="basic_fieldset">
            <legend class="vacancyEdit__name">Общая информация</legend>
            <div class="vacancyEdit__options">
                <input type="text" name="title" placeholder="Название" class="vacancyEdit__input" value="{{title}}"
                    minlength="3" maxlength="50" required pattern="^[а-яА-Яa-zA-Z0-9\s]+$"
                    title="Можно вводить только буквы и пробел">
                <input type="text" name="specialization" placeholder="Специализация" class="vacancyEdit__input"
                    value="{{specialization}}" minlength="3" maxlength="50" required pattern="^[а-яА-Яa-zA-Z0-9\s]+$"
                    title="Можно вводить только буквы и пробел">
                <input type="text" name="city" placeholder="Город" class="vacancyEdit__input" value="{{city}}"
                    minlength="3" maxlength="50" required pattern="^[а-яА-Яa-zA-Z0-9\s\.,]+$"
                    title="Можно вводить только буквы, знаки препинания и пробел">
                <div>
                    <div class="vacancyEdit__error"></div>
                    <button class="job__button" id="basic_next">Далее</button>
                </div>
            </div>
        </fieldset>

        <!-- Тип занятости -->
        <fieldset class="vacancyEdit__group" id="employment_fieldset">
            <legend class="vacancyEdit__name">Тип занятости</legend>
            <div class="vacancyEdit__options">
                <label class="vacancyEdit__checkbox">
                    <input type="radio" name="employment" value="full_time" checked>
                    <span>Полная занятость</span>
                </label>
                <label class="vacancyEdit__checkbox">
                    <input type="radio" name="employment" value="part_time">
                    <span>Частичная занятость</span>
                </label>
                <label class="vacancyEdit__checkbox">
                    <input type="radio" name="employment" value="contract">
                    <span>По контракту</span>
                </label>
                <label class="vacancyEdit__checkbox">
                    <input type="radio" name="employment" value="internship">
                    <span>Стажировка</span>
                </label>
                <label class="vacancyEdit__checkbox">
                    <input type="radio" name="employment" value="freelance">
                    <span>Фриланс</span>
                </label>
                <label class="vacancyEdit__checkbox">
                    <input type="radio" name="employment" value="watch">
                    <span>Временная</span>
                </label>
                <div>
                    <div class="vacancyEdit__error"></div>
                    <button class="job__button" id="employment_next">Далее</button>
                </div>
            </div>

        </fieldset>

        <!-- Режим работы -->
        <fieldset class="vacancyEdit__group" id="workformat_fieldset">
            <legend class="vacancyEdit__name">Условия работы работы</legend>
            <div class="vacancyEdit__options">
                <div class="vacancyEdit__select">
                    <select name="schedule" class="vacancyEdit__input" required>
                        <option value="" disabled selected>График работы</option>
                        <option value="5/2">5/2</option>
                        <option value="2/2">2/2</option>
                        <option value="6/1">6/1</option>
                        <option value="3/3">3/3</option>
                        <option value="on_weekend">В выходные</option>
                        <option value="by_agreement">Согласовывается</option>
                    </select>
                </div>
                <input type="number" name="working_hours" placeholder="Количество часов в неделю"
                    class="vacancyEdit__input" min="1" max="96" value="{{working_hours}}" required>
                <label class="vacancyEdit__checkbox">
                    <input type="radio" name="work_format" value="office" checked>
                    <span>На месте работадателя</span>
                </label>
                <label class="vacancyEdit__checkbox">
                    <input type="radio" name="work_format" value="hybrid">
                    <span>Гибрид</span>
                </label>
                <label class="vacancyEdit__checkbox">
                    <input type="radio" name="work_format" value="remote">
                    <span>Удалённо</span>
                </label>
                <label class="vacancyEdit__checkbox">
                    <input type="radio" name="work_format" value="traveling">
                    <span>Разъездной</span>
                </label>
                <div>
                    <div class="vacancyEdit__error"></div>
                    <button class="job__button" id="workformat_next">Далее</button>
                </div>
            </div>
        </fieldset>

        <!-- Зарплата -->
        <fieldset class="vacancyEdit__group" id="salary_fieldset">
            <legend class="vacancyEdit__name">Зарплата</legend>
            <div class="vacancyEdit__options">
                <div class="vacancyEdit__split">
                    <input type="number" name="salary_from" placeholder="От" class="vacancyEdit__input" min="15000"
                        max="1000000" value="{{salary_from}}" required>
                    <input type="number" name="salary_to" placeholder="До" class="vacancyEdit__input" min="0"
                        max="1000000" value="{{salary_to}}" required>
                </div>
                <div class="vacancyEdit__split">
                    <label class="vacancyEdit__checkbox">
                        <input type="radio" name="taxes_included" value="gross" checked>
                        <span>До вычета налогов</span>
                    </label>
                    <label class="vacancyEdit__checkbox">
                        <input type="radio" name="taxes_included" value="net">
                        <span>На руки</span>
                    </label>
                </div>
                <div class="vacancyEdit__error"></div>
            </div>
        </fieldset>

        <!-- Опыт работы -->
        <fieldset class="vacancyEdit__group" id="experience_fieldset">
            <legend class="vacancyEdit__name">Опыт работы</legend>
            <div class="vacancyEdit__options">
                <label class="vacancyEdit__checkbox">
                    <input type="radio" name="experience" value="no_experience" checked>
                    <span>Нет опыта</span>
                </label>
                <label class="vacancyEdit__checkbox">
                    <input type="radio" name="experience" value="1_3_years">
                    <span>1-3 года</span>
                </label>
                <label class="vacancyEdit__checkbox">
                    <input type="radio" name="experience" value="3_5_years">
                    <span>3-5 лет</span>
                </label>
                <label class="vacancyEdit__checkbox">
                    <input type="radio" name="experience" value="more_than_5_years">
                    <span>5+ лет</span>
                </label>
                <div>
                    <div class="vacancyEdit__error"></div>
                    <button class="job__button" id="moneyexperience_next">Далее</button>
                </div>
            </div>
        </fieldset>

        <!-- Описание вакансии -->
        <fieldset class="vacancyEdit__group" id="description_fieldset">
            <legend class="vacancyEdit__name">Описание вакансии</legend>
            <div class="vacancyEdit__options">
                <textarea name="description" placeholder="Введите описание вакансии" class="vacancyEdit__input"
                    value="{{description}}" minlength="10" maxlength="500" required pattern="^[а-яА-Яa-zA-Z0-9\s\.,]+$"
                    title="Можно вводить только буквы, знаки препинания и пробел"></textarea>
                <div class="vacancyEdit__error"></div>
            </div>
        </fieldset>

        <!-- Описание вакансии -->
        <fieldset class="vacancyEdit__group" id="tasks_fieldset">
            <legend class="vacancyEdit__name">Задачи</legend>
            <div class="vacancyEdit__options">
                <textarea name="tasks" placeholder="Введите задачи вакансии" class="vacancyEdit__input"
                    value="{{tasks}}" minlength="10" maxlength="500" pattern="^[а-яА-Яa-zA-Z0-9\s\.,]+$"
                    title="Можно вводить только буквы, знаки препинания и пробел"></textarea>
                <div class="vacancyEdit__error"></div>
            </div>
        </fieldset>

        <!-- Описание вакансии -->
        <fieldset class="vacancyEdit__group" id="requirements_fieldset">
            <legend class="vacancyEdit__name">Требования</legend>
            <div class="vacancyEdit__options">
                <textarea name="requirements" placeholder="Введите требования вакансии" class="vacancyEdit__input"
                    value="{{requirements}}" minlength="10" maxlength="500" pattern="^[а-яА-Яa-zA-Z0-9\s\.,]+$"
                    title="Можно вводить только буквы, знаки препинания и пробел"></textarea>
                <div class="vacancyEdit__error"></div>
            </div>
        </fieldset>

        <!-- Описание вакансии -->
        <fieldset class="vacancyEdit__group" id="optional_fieldset">
            <legend class="vacancyEdit__name">Будет плюсом</legend>
            <div class="vacancyEdit__options">
                <textarea name="optional_requirements" placeholder="Введите дополнительные требования вакансии"
                    class="vacancyEdit__input" value="{{optional_requirements}}" minlength="10" maxlength="500"
                    pattern="^[а-яА-Яa-zA-Z0-9\s\.,]+$"
                    title="Можно вводить только буквы, знаки препинания и пробел"></textarea>
                <div>
                    <div class="vacancyEdit__error"></div>
                    <button class="job__button" id="description_next">Далее</button>
                </div>
            </div>
        </fieldset>

        <fieldset class="vacancyEdit__group" id="skills_fieldset">
            <legend class="vacancyEdit__name">Навыки</legend>
            <div class="vacancyEdit__options">
                <input type="text" name="skills" placeholder="Вводите навыки через запятую" class="vacancyEdit__input"
                    value="{{skills}}" minlength="3" maxlength="150" pattern="^[а-яА-Яa-zA-Z0-9\s\.,]+$"
                    title="Можно вводить только буквы, знаки препинания и пробел" required>
                <div class="vacancyEdit__error"></div>
            </div>
        </fieldset>
        <!-- Кнопка отправки -->
        <div>
            <div class="vacancyEdit__error"></div>
            <button class="job__button" id="vacancy_edit_confirm">Создать вакансию</button>
        </div>
    </form>
</div>
<div class="progress-container">
    <div class="progress-bar" style="width: 50%;"></div> <!-- Заполнение на 50% -->
</div>