<div class="page" id="resume_edit_page">
    <div>
        <form class="resumeEdit" aria-label="Создание нового резюме" name="resume_edit">
            {{#if isNew}}
            <div class="resumeEdit__header">Создание нового резюме</div>
            {{else}}
            <div class="resumeEdit__header">Редактирование резюме</div>
            {{/if}}
            <!-- Общая информация -->
            <fieldset class="resumeEdit__group" name="fieldset_basic">
                <legend class="resumeEdit__name">Общая информация</legend>
                <div class="resumeEdit__options">
                    <input type="text" name="last_name" placeholder="Фамилия" class="resumeEdit__input"
                        value="{{applicant.last_name}}" disabled>
                    <input type="text" name="first_name" placeholder="Имя" class="resumeEdit__input"
                        value="{{applicant.first_name}}" disabled>
                    <input type="text" name="middle_name" placeholder="Отчество" class="resumeEdit__input"
                        value="{{applicant.middle_name}}" disabled>

                    <div class="resumeEdit__split">
                        {{#if isMale}}
                        <label class="resumeEdit__checkbox">
                            <input type="radio" name="sex" value="male" checked disabled>
                            <span>мужской</span>
                        </label>
                        <label class="resumeEdit__checkbox">
                            <input type="radio" name="sex" value="female" disabled>
                            <span>женский</span>
                        </label>
                        {{else}}
                        <label class="resumeEdit__checkbox">
                            <input type="radio" name="sex" value="male" disabled>
                            <span>мужской</span>
                        </label>
                        <label class="resumeEdit__checkbox">
                            <input type="radio" name="sex" value="female" checked disabled>
                            <span>женский</span>
                        </label>
                        {{/if}}
                    </div>

                    <input type="date" name="birth_date" placeholder="Год рождения" class="resumeEdit__input"
                        value="{{applicant.birth_date}}" disabled>
                    <input type="text" name="phone" placeholder="Номер телефона" class="resumeEdit__input"
                        value="{{applicant.phone}}" disabled>
                    <input type="text" name="city" placeholder="Город" class="resumeEdit__input"
                        value="{{applicant.city}}" disabled>
                    <div>
                        <button class="job__button_second" id="profile_change">Изменить профиль</button>
                    </div>
                    <div>
                        <button class="job__button" id="basic_next">Далее</button>
                    </div>
                </div>
            </fieldset>

            <!-- Навыки -->
            <fieldset class="resumeEdit__group" name="fieldset_skills">
                <legend class="resumeEdit__name">Навыки</legend>
                <div class="resumeEdit__options">
                    <input type="text" name="specialization" placeholder="Специализация" class="resumeEdit__input"
                        minlength="3" maxlength="30" pattern="^[а-яА-Яa-zA-Z0-9\s\.,#+\-]+$"
                        title="Можно вводить только буквы, пробел и спец символы" required value="{{specialization}}">
                    <input type="text" name="skills" placeholder="Навыки" class="resumeEdit__input" minlength="3"
                        maxlength="200" pattern="^[а-яА-Яa-zA-Z0-9\s\.,!@#$*()_+\-]+$"
                        title="Можно вводить только буквы, знаки препинания, пробел и спецсимволы" required value="{{skillsString}}">
                    <div>
                        <div class="resumeEdit__error"></div>
                        <button class="job__button" id="skills_next">Далее</button>
                    </div>
                </div>
            </fieldset>

            <!-- Образование -->
            <fieldset class="resumeEdit__group" name="fieldset_education">
                <legend class="resumeEdit__name">Образование</legend>
                <div class="resumeEdit__options">
                    <div class="resumeEdit__select">
                    <select name="education" class="resumeEdit__input" required>
                        <option value="" disabled selected>Тип образования</option>
                        <option value="secondary_school">среднее образование</option>
                        <option value="incomplete_higher">неполное высшее</option>
                        <option value="higher">высшее образование</option>
                        <option value="bachelor">бакалавр</option>
                        <option value="master">магистр</option>
                        <option value="phd">кандидат наук</option>
                    </select>
                    </div>
                    <input type="text" name="educational_institution" placeholder="Название учебного заведения"
                        minlength="3" maxlength="50" class="resumeEdit__input" value="{{educational_institution}}"
                        pattern="^[а-яА-Яa-zA-Z0-9\s\.,]+$"
                        title="Можно вводить только буквы, знаки препинания и пробел" required>
                    <input type="number" name="graduation_year" placeholder="Год окончания" class="resumeEdit__input"
                        min="{{minGraduatingDate}}" max="2050" value="{{graduation_year}}" required>
                    <div>
                        <div class="resumeEdit__error"></div>
                        <button class="job__button" id="education_next">Далее</button>
                    </div>
                </div>
            </fieldset>

            <!-- Обо мне -->
            <fieldset class="resumeEdit__group" name="fieldset_aboutme">
                <legend class="resumeEdit__name">Обо мне</legend>
                <div class="resumeEdit__options">
                    <textarea name="about_me" placeholder="Ваши обязанности и достижения" class="resumeEdit__input"
                        minlength="10" maxlength="500" value="{{about_me}}" pattern="^[а-яА-Яa-zA-Z0-9\s\.,%#!?\-]+$"
                        title="Можно вводить только буквы, знаки препинания и пробел" required>{{about_me}}</textarea>
                    <div>
                        <div class="resumeEdit__error"></div>
                        <button class="job__button" id="aboutme_next">Далее</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <div id="resume_edit_working_experiences">

        </div>

        <!-- Кнопка отправки -->
        <div class="resumeEdit__confirm">
            <div class="resumeEdit__error"></div>
            <button class="job__button" id="resume_submit">Создать резюме</button>
        </div>
    </div>
</div>
<div class="progress-container">
    <div class="progress-bar" style="width: 50%;"></div> <!-- Заполнение на 50% -->
</div>