<div class="profile" id="profile_user_page">
    <div class="profile__header">
        <div class="profile__back">
            <div class="profile__back-icon">
                <img src="/arrow-left.svg" />
            </div>
            <div class="profile__back-text">
                Вернуться к списку вакансий
            </div>
        </div>
        <div class="profile__actions">
            <button class="job__button">Создать резюме</button>
            <button class="job__button_second">Настройки</button>
        </div>
    </div>

    <div class="profile__wrapper">
        <div class="profile__body">
            <div class="profile__info">
                <div class="profile__avatar">
                    <img src="http://localhost:8000/api/v1/static/{{avatar_path}}"
                    onerror="this.src = '/icons-user-profile.svg';" />
                </div>
                <div class="profile__details">
                    <div class="profile__name">{{last_name}} {{first_name}} {{middle_name}}</div>
                    <div class="profile__quote">{{quote}}</div>
                </div>
            </div>
            <div class="profile__divider"></div>
            <!-- Добавляем вкладки -->
            {{!-- <div class="profile__info-main">
                <div class="profile__tabs">
                    <div class="job__button_second" id="profile-resumes">
                        <img src="https://placehold.co/100x100/EEE/31343C" />
                        Мои резюме
                    </div>
                    <div class="job__button_second" id="profile-responses">
                        <img src="https://placehold.co/100x100/EEE/31343C" />
                        Отклики
                    </div>
                    <div class="job__button_second" id="profile-favorites">
                        <img src="https://placehold.co/100x100/EEE/31343C" />
                        Избранное
                    </div>
                </div>
                <div class="resume-table" id="resume-content" hidden>

                </div>

                <div class="jobs_list" id="vacancy-content" hidden>

                </div>
            </div> --}}
        </div>
        <div class="profile__meta">
            {{#if city}}
            <div class="profile__item">
                <div class="profile__property">Город проживания</div>
                <div class="profile__value">{{city}}</div>
            </div>
            {{/if}}
            {{#if birth_date}}
            <div class="profile__item">
                <div class="profile__property">Дата рождения</div>
                <div class="profile__value">{{birth_date}}</div>
            </div>
            {{/if}}
            <div class=" profile__item">
                <div class="profile__property">Социальные сети</div>
                <div class="profile__social-icons">
                    {{#if vk}}
                    <div class="profile__soc-icon">
                        <a href="{{vk}}">
                            <img src="/vk.svg" />
                        </a>
                    </div>
                    {{/if}}
                    {{#if telegram}}
                    <div class="profile__soc-icon">
                        <a href="{{telegram}}">
                            <img src="/tg.svg" />
                        </a>
                    </div>
                    {{/if}}
                    {{#if facebook}}
                    <div class="profile__soc-icon">
                        <a href="{{facebook}}">
                            <img src="/globe.svg" />
                        </a>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>